/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .rounded-input-status-green{
        width: 50%;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .pl-half{
        padding-left: 5px !important;
      }
    .mt-half{
      margin-top: 10px;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .mt-half{
      margin-top: 0px;
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .pl-half{
        padding-left: 15px !important;
      }
      .mt-half{
        margin-top: 0px;
      }
  }